<body style="background-color: black">
  <div>
    <h1 style="color: cyan">List of Artists</h1>
    <hr style="color: white;"" />
    <p style="color: burlywood">Artists:</p>
    <ul style="color: white">
      {%for i in query_set%}
      <li style="color: red">id: {{i.id}}</li>
      <li style="color: red">Stage name: {{i.stageName}}</li>
      <li style="color: red">Social: {{i.socialLinkField}}</li>
      <li style="color: burlywood">Albums:</li>
      <ul>
        {% for Album in i.albums_set.all %}
        <li style="color: whitesmoke">id: {{Album.id}}</li>
        <li style="color: whitesmoke">Name: {{Album.Name}}</li>
        <li style="color: whitesmoke">Creation Time: {{Album.created}}</li>
        <li style="color: whitesmoke">
          Release datetime: {{Album.releaseDateTime}}
        </li>
        <li style="color: whitesmoke">Cost: {{Album.cost}}</li>
        <hr />
        {%endfor%}
      </ul>
      <hr />
      {% endfor %} {% csrf_token %}
    </ul>
  </div>
</body>
